.about {
  margin: 0;
  padding: 20px 0;
  color: $darkgrey;
  background-color: $basewhite;
}

.about__wrapper {
  margin: 20px 0;
  padding: 20px 0;
}

.about__note {
  font-size: 16px;
  font-family: $latofont;
}

.about__details {
  margin: 0;
  padding: 20px 0;
  list-style: none;
}

.about__hexa {
  margin: 30px auto;
}

@media (min-width: $tabletwidth) {
  .about__info {
    width: 100%;
  }

  .about__slider {
    margin: 0 auto;
  }

  .about__list {
    position: relative;
    margin-top: 40px;
  }
}

@media (min-width: $desktopwidth) {
  .about__info {
    width: 50%;
  }

  .about__wrapper {
    display: flex;
  }

  .about__slider {
    margin: 0;
    margin-left: auto;
  }
}

