.btn {
  display: block;
  padding: 10px 10px 12px;
  font-family: $latofont;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  text-transform: uppercase;
  word-wrap: break-word;
  border: none;
}

.btn--primary {
  color: $basewhite;
  background-color: $darkgrey;

  &:hover,
  &:focus {
    background-color: $basered;
  }

  &:active {
    background-color: $basered;
    opacity: 0.3;
  }
}


.btn--secondary {
  color: $basewhite;
  background-color: $darkgrey;

  &:hover,
  &:focus {
    background-color: $basered;
  }

  &:active {
    background-color: $basered;
    opacity: 0.3;
  }
}

.btn--complex {
  position: relative;
  font-family: $ralewayfont;
  font-size: 24px;
  line-height: 24px;
  border: 25px solid transparent;
  color: $darkgrey;
  background-color: $basewhite;
  background-image: radial-gradient(ellipse, $basewhite 0, darken($basewhite, 50%) 80%, darken($basewhite, 70%) 100%);
  background-repeat: no-repeat;
  background-origin: border-box;
  padding: 8px 8px 8px 40px;
  text-transform: lowercase;
  text-align: left;

  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 5px;
    left: -5px;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: top right;
    background-size: auto, 30px 30px;
  }

  &:hover,
  &:focus {
    opacity: 0.8;
    color: red;
  }

  &:active {
    opacity: 0.5;
  }
}

.btn--complex-river::after {
  background-image: url("../img/btn/river.png"), linear-gradient(to left, black 0, black  100%);
}

.btn--complex-hive::after {
  background-image: url("../img/btn/hive.png"), linear-gradient(to left, black 0, black  100%);
}

.btn--complex-dune::after {
  background-image: url("../img/btn/dune.png"), linear-gradient(to left, black 0, black  100%);
}

.btn--complex-canyon::after {
  background-image: url("../img/btn/canyon.png"), linear-gradient(to left, black 0, black  100%);
}


@media (min-width: $tabletwidth) {
  .btn {
    font-size: 16px;

    &--arrowed {
      font-size: 20px;
    }

    &--complex {
      font-size: 30px;
      padding: 8px 8px 8px 80px;
    }
  }
}


@media (min-width: $desktopwidth) {
  .btn {
    font-size: 20px;

    &--complex {
      font-size: 22px;
      padding: 8px 8px 8px 40px;
    }
  }
}
