.detail__text {
  font-family: $latofont;
  font-size: 14px;
  line-height: 22px;
}

.detail__switcher {
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 1px solid $lightgrey;
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    display: block;
    background-color: $lightgrey;
    height: 2px;
    width: 14px;
    top: 9px;
    left: 3px;
  }

  &::after {
    transform: rotate(90deg);
  }

  &:hover,
  &:focus {
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px 0 rgba(255, 0, 0, 0.4);
  }
}

.detail--open .detail__switcher::after {
  display: none;
}

.detail__wrapper {
  background-color: $almostwhite;
  border: 1px solid $lightgrey;
  display: flex;
  align-items: flex-start;
  padding: 10px;
}

.detail--open .detail__wrapper,
.detail--open .detail__switcher {
  color: $basered;
}

.detail--closed .detail__wrapper {
  color: $lightgrey;
}

.detail--open .detail__switcher::before,
.detail--open .detail__switcher::after {
  background-color: $basered;
}

.detail--closed .detail__switcher::before,
.detail--closed .detail__switcher::after {
  background-color: $lightgrey;
}

.detail--open .detail__text {
  display: block;
}

.detail--closed .detail__text {
  display: none;
}


.detail__title {
  padding: 0;
  margin: 0;
  margin-left: 10px;
  display: inline-block;
  vertical-align: baseline;
  font-family: $ralewayfont;
  font-size: 20px;
  font-weight: 400;
}
