.features {
  margin: 40px 0 0;
  padding: 0 0 50px 0;
  background-color: $basewhite;
  color: $darkgrey;
}

.features__wrapper {
  position: relative;
  min-height: 690px;
  padding: 0 0 350px 0;
  background-image: url("../img/placeholder.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 270px 400px;

  &::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 70px;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 240px;
    width: 180px;
    padding-bottom: 63px;
    background-image: url("../img/replace-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-clip: content-box;
    z-index: 1;
  }
}

.features__items {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
  padding: 0;
  list-style: none;
}

.features__item {
  width: 100%;
  margin-bottom: 20px;
}


.features__button {
  position: absolute;
  display: block;
  top: auto;
  left: 0;
  right: 0;
  bottom: 60px;
  width: 140px;
  margin: 0 auto;
  max-height: 100px;
  overflow-y: auto;
}

@media (min-width: $tabletwidth) {
  .features {
    padding: 0 0 100px 0;
  }

  .features__items {
    margin: 0;
    justify-content: space-between;
  }

  .features__wrapper {
    padding: 0 0 600px 0;
    background-size: 473px 690px;

    &::before {
      bottom: 165px;
      height: 370px;
      width: 304px;
    }
  }

  .features__item {
    width: 340px;
  }


  .features__item:nth-of-type(2n) {
    margin-left: 0;
  }

  .features__button {
    bottom: 100px;
    width: 200px;
  }
}

@media (min-width: $desktopwidth) {
  .features__wrapper {
    min-height: 690px;
    padding: 0 0 310px 0;
  }

  .features__item {
    width: 370px;
  }

  .features__item:nth-of-type(2n) {
    margin-left: 250px;
  }
}
