.follow {
  position: relative;
  margin: 0;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: $darkgrey;
}

.follow__social {
  width: 270px;
  margin: 0 auto;
  background-color: transparent;
}

.follow__title {
  margin-bottom: 10px;
}

@media (min-width: $tabletwidth) {
  .follow__social {
    width: 400px;
  }

  .follow__title {
    margin-bottom: 10px;
  }
}
