.form {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 50px 40px;
  width: 470px;
  min-height: 475px;
  color: $almostblack;
  background-color: $basewhite;
  box-shadow: 0 0 9px 0 rgba(5, 5, 6, 0.17);
}

.form__title {
  font-family: $ralewayfont;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.form__fields {
  list-style: none;
  padding: 0;
  margin: 30px 0;
}


.form__submit {
  display: inline-block;
  margin-top: auto;
  min-width: 120px;
  max-width: 100%;
  min-height: 40px;
  align-self: flex-end;
}
