.header {
  @include v-zero();
  background-color: $darkgrey;
  color: white;
  min-height: 700px;
  background-size: auto;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0, rgba(0, 0, 0, 0.7) 100%), url("../img/slider-text/woman-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
}

.header__wrapper {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.header__navigation {
  padding: 0;
  margin: 0;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header__menu {
  margin: 0;
  width: 100%;
}

.header__logo {
  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.4;
  }
}

.header__logo-image {
  display: block;
  width: 180px;
  height: auto;
}

.header__toggle {
  background-color: transparent;
  border: none;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 30px 20px auto auto;

  position: relative;
  cursor: pointer;
  display: none;

  &:hover,
  &:focus {
    opacity: 0.4;
  }

  &:active {
    opacity: 0.6;
  }
}

.header__navigation--opened .header__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    width: 24px;
    height: 2px;
    background-color: $basewhite;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.header__navigation--closed .header__toggle {
  width: 24px;
  background-image: repeating-linear-gradient(to bottom, $basewhite 0, $basewhite 2px, transparent 2px, transparent 6px);
  background-size: 24px 18px;
  background-position: center center;
}

@media (max-width: $mobilewidthonly) {
  .header__toggle {
    display: block;
  }

  .header__navigation--closed .header__menu {
    display: none;
  }

  .header__navigation--opened .header__menu {
    display: block;
  }

  .header__navigation--nojs .header__menu {
    display: block;
  }

  .header__navigation--nojs .header__toggle {
    display: none;
  }
}

@media (max-width: $mobilewidthonly) and (min-resolution: $retinadpi), (max-width: $mobilewidthonly) and (min-resolution: $retinadppx) {
  .header {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0, rgba(0, 0, 0, 0.7) 100%), url("../img/slider-text/woman-tablet@2x.jpg");
  }
}

@media (min-width: $tabletwidth) {
  .header {
    background-position: center 80px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0, rgba(0, 0, 0, 0.7) 100%), url("../img/slider-text/woman-tablet@1x.jpg");
  }

  .header__wrapper {
    width: auto;
    margin: 0 auto;
  }

  .header__navigation {
    flex-direction: column;
  }

  .header__toggle {
    display: none;
  }
}

@media (min-width: $tabletwidth) and (min-resolution: $retinadpi), (min-width: $tabletwidth) and (min-resolution: $retinadppx) {
  .header {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0, rgba(0, 0, 0, 0.7) 100%), url("../img/slider-text/woman-tablet@2x.jpg");
  }
}

@media (min-width: $desktopwidth) {
  .header {
    background-position: bottom center;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0, rgba(0, 0, 0, 0.7) 100%), url("../img/slider-text/woman-desktop@1x.jpg");
  }

  .header__logo-image {
    display: block;
    width: 251px;
    height: 112px;
  }

  .header__wrapper {
    margin: 0;
  }

  .header__navigation {
    flex-direction: row;
  }

  .header__menu {
    margin: 0;
    margin-left: auto;
    width: auto;
  }
}

@media (min-width: $desktopwidth) and (min-resolution: $retinadpi), (min-width: $desktopwidth) and (min-resolution: $retinadppx) {
  .header {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0, rgba(0, 0, 0, 0.7) 100%), url("../img/slider-text/woman-desktop@2x.jpg");
  }
}
