.info-slider {
  padding: 40px 0;
  margin: 0;
  position: relative;
}

.info-sider__slides {
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.info-slider__slide {
  width: 100%;
  display: none;
  padding: 0 20px;

  &--current {
    display: block;
  }
}

.info-slider__text {
  text-align: center;
  font-size: 16px;
  line-height: 22px;
  font-family: $latofont;
}

.info-slider__controls {
  position: absolute;
  top: 180px;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.info-slider__control {
  border: none;
  background-color: transparent;
  display: block;
  width: 20px;
  height: 20px;
  color: $lightgrey;
  border-radius: 2px;
  cursor: pointer;

  &--left {
    border-left: 4px solid;
    border-bottom: 4px solid;
    transform: rotate(45deg)  translateX(-20px);
  }

  &--right {
    border-right: 4px solid;
    border-bottom: 4px solid;
    transform: rotate(-45deg) translateX(20px);
  }

  &:hover,
  &:focus {
    color: $basered;
  }

  &--left:focus {
    box-shadow: -6px 8px 16px $basewhite;
    outline: none;
  }

  &--right:focus {
    box-shadow: 6px 8px 16px $basewhite;
    outline: none;
  }

  &:active {
    opacity: 0.5;
  }
}

.info-slider__buttons {
  padding: 5px;
}

.info-slider__button {
  display: block;
  margin: 5px 20px;
  min-width: 180px;
  background-color: black;
}


@media (min-width: $tabletwidth) {
  .info-slider__buttons {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 70%;
    margin: 0 auto;
  }

  .info-slider__button {
    display: inline-block;
  }

  .info-slider__control {
    width: 30px;
    height: 30px;

    &--left {
      transform: rotate(45deg)  translateX(-30px);
    }

    &--right {
      transform: rotate(-45deg) translateX(30px);
    }
  }
}

@media (min-width: $desktopwidth) {
  .info-slider__slides {
    max-width: 80%;
  }
}

