.review {
  margin: 0;
  padding: 0;
}

.review__person {
  font-style: normal;
  font-size: 16px;
  font-weight: bold;
  font-family: $ralewayfont;
  color: $basered;
  text-transform: uppercase;
}

.review__text {
  font-family: $latofont;
  font-size: 16px;
  line-height: 22px;
  color: rgb(164, 164, 164);
}

.review__svg {
  display: block;
  margin: 0 auto 10px;
}

.review__image {
  display: block;
  clip-path: url("#hexa-clip");
  min-width: 100%;
  height: auto;
}

.review__quote {
  padding: 0;
  margin: 0;
}
