.simple-slider {
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
  background-color: $darkgrey;
}

.simple-slider__title {
  font-size: 20px;
  font-family: $ralewayfont;
  font-weight: 500;
  text-transform: uppercase;
}

.simple-slider__slides {
  margin: 0;
  padding: 0;
  list-style: none;
}

.simple-slider__slide {
  display: none;

  &--current {
    display: block;
  }
}

.simple-slider__controls {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 70px;
  margin: 0 auto;
  padding: 10px;
}

.simple-slider__control {
  display: block;
  width: 10px;
  height: 10px;
  padding: 0;
  font-size: 0;
  background-color: $basewhite;
  border: none;
  cursor: pointer;
  transition: box-shadow 1s linear;

  &--current {
    background-color: $basered;
  }

  &:hover,
  &:focus {
    box-shadow: 2px 2px 20px $basewhite;
    border-radius: 50%;
  }

  &:active {
    opacity: 0.5;
  }
}

.simple-slider__control:nth-of-type(3n-1) {
  margin: 0 10px;
}


